@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
	background-color: rgb(31,30,30);
	color: white;
}

main {
	clear: left;
}

h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
}

p, a {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 300;
	font-size: 100%;
	letter-spacing: 0.5px;
}

ul > li {
	list-style-type: '-';
}

nav > ul > li > a:link {
	text-decoration: none;
}

nav > ul > li > a:hover {
	background-color: coral;
}

nav > ul > li > a:visited {
	color: gray;
}

nav > ul > li {
	list-style-type: none;
	box-sizing: border-box;
	display: inline;
	padding-left: : 3%;
	padding-right: 3%;
}

#welcome {
	font-family: Monoton;
	font-size: 200%;
	width: 100%;
	text-align: center;
	display: inline-block;
}

nav {
	width: 100%;
	text-align: center;
	border-style: dashed;
}

p.post::first-letter {
	font-weight: 700;
	font-size: 115%;
}

p.post_info {
	font-style: italic;
}